common/src/main/resources/schema/cea/CommonExecutionArchitectureBase/v1.0/CommonExecutionArchitectureBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is refactored from the AGParameterDefinition.xsd -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Paul Harrison (Contractor) -->
<xs:schema targetNamespace="http://www.astrogrid.org/schema/CommonExecutionArchitectureBase/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:agab="http://www.astrogrid.org/schema/CommonExecutionArchitectureBase/v1" xmlns:agpd="http://www.astrogrid.org/schema/AGParameterDefinition/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.astrogrid.org/schema/AGParameterDefinition/v1" 
		schemaLocation="../../../jes/AGParameterDefinition/v1.0/AGParameterDefinition.xsd"/>
	<xs:annotation>
		<xs:documentation>this file captures some of the ideas used in the WSDL-like parameter definition files, but as yet is not used for validation</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>the baseparameter definition is mimiced by the contents of a part element in the wsdl</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>important types are defined here that would have special significance....</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ApplicationBase" abstract="false">
		<xs:annotation>
			<xs:documentation>Base Application Description</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicationType" type="agab:ApplicationKindType" minOccurs="0"/>
			<xs:element name="Parameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="agab:Parameter" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Interfaces" type="agab:InterfacesType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="instanceClass" type="xs:string" use="optional"/>
		<!-- really would want the instance class to be of type java-class - but the simple castor mapping does not cope -->
	</xs:complexType>
	<!--perhaps this is not the way to go - need to get the executionPath back in though somehow....-->
	<xs:complexType name="CommandLineApplication">
		<xs:annotation>
			<xs:documentation>Description of a command line application</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agab:ApplicationBase">
				<xs:sequence>
					<xs:element name="ExecutionPath" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WebServiceApplication">
		<xs:annotation>
			<xs:documentation>Description of a web service application</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agab:ApplicationBase"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCentreApplication">
		<xs:annotation>
			<xs:documentation>Description of a data centre application</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agab:ApplicationBase"/>
		</xs:complexContent>
	</xs:complexType>
	<!--
		
		Stuff to do with HttpApplications
		
		-->
	<xs:complexType name="WebHttpApplicationSetup">
		<xs:annotation>
			<xs:documentation>Description of an HTTP Application</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="URL" type="agab:HttpURLType"/>
			<xs:element name="PreProcessScript" type="agab:script" minOccurs="0"/>
			<xs:element name="PostProcessScript" type="agab:script" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
<!--The calling document describing the call to the web service-->
	<xs:complexType name="WebHttpCall">
		<xs:annotation>
			<xs:documentation>Description of an HTTP get or post service</xs:documentation>
		</xs:annotation>
		<xs:sequence>
				<xs:element name="URL" type="agab:HttpURLType"/>
				<xs:element name="SimpleParameter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute type="xs:string" name="name" use="required"/>
						<xs:attribute type="xs:string" name="value" use="required"/>
					</xs:complexType>
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HttpURLType">
		<xs:annotation>
			<xs:documentation>The URL for an http get or post service</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="agab:HttpMethodType" name="method" default="get"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="HttpMethodType">
		<xs:annotation>
			<xs:documentation>http method type: get or post</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="get"/>
			<xs:enumeration value="post"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
	  END Stuff to do with HttpApplications
	-->


	<!--really need to add a description element to the interface, so that the UI can present the user with more infromation than just names -->
	<xs:complexType name="Interface">
		<xs:annotation>
			<xs:documentation>description of an interface</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="input">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pref" type="agab:parameterRef" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="output">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pref" type="agab:parameterRef" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- from a castor point of view it would be nicer to change these to be inputdefn,outputdefn -->
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="script">
		<xs:annotation>
			<xs:documentation>a snippet of code to massage the inputs and outputs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lang" type="agab:scriptingLanguage"/>
			<xs:element name="code" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="scriptingLanguage">
		<xs:annotation>
			<xs:documentation>Scripting language</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xslt"/>
			<xs:enumeration value="javascript"/>
			<xs:enumeration value="groovy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="parameterRef" mixed="false">
		<xs:annotation>
			<xs:documentation>reference to an existing parameter. Used in the interface</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ref" type="xs:string"/>
		<xs:attribute name="minoccurs" type="xs:int" use="optional" default="1"/>
		<xs:attribute name="maxoccurs" type="xs:int" use="optional" default="1">
			<xs:annotation>
				<xs:documentation>a value of 0 implies unbounded</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebServiceParameterDefinition">
		<xs:annotation>
			<xs:documentation>Special properties for web serivce parameters</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agpd:BaseParameterDefinition"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommandLineParameterDefinition">
		<xs:annotation>
			<xs:documentation>Defines what it is to be a command line parameter - needs more thought with experience</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agpd:BaseParameterDefinition">
				<xs:attribute name="commandSwitch" type="xs:string" use="optional"/>
				<xs:attribute name="commandPosition" type="xs:int" use="optional" default="-1"/>
				<xs:attribute name="stdio" type="xs:boolean" use="optional" default="false"/>
				<xs:attribute name="switchType" type="agab:switchTypes" use="optional" default="normal"/>
				<xs:attribute name="fileRef" type="xs:boolean" use="optional" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCenterParameterDefinition">
		<xs:annotation>
			<xs:documentation>special properties for datacentre parameters</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="agpd:BaseParameterDefinition"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="switchTypes">
		<xs:annotation>
			<xs:documentation>normal is the -x value style and keyword is the x=value style</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="keyword"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InterfacesType">
		<xs:sequence>
			<xs:element name="Interface" type="agab:Interface" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Parameter" type="agpd:BaseParameterDefinition" abstract="true">
		<xs:annotation>
			<xs:documentation>A generalised parameter - this is a substitution point</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CommonExecutionConnectorConfigType">
		<xs:annotation>
			<xs:documentation>The base for a common execution connector configuration</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="CmdLineParameterDefn" substitutionGroup="agab:Parameter">
		<xs:annotation>
			<xs:documentation>The specialization for a command line parameter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agab:CommandLineParameterDefinition"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Application" type="agab:CommandLineApplication">
		<xs:annotation>
			<xs:documentation>The definition of what an application is</xs:documentation>
		</xs:annotation>
		<xs:unique name="parameternameunique">
			<xs:selector xpath="./agab:Parameters/agab:CmdLineParameterDefn"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="interfacenameunique">
			<xs:selector xpath="./agab:Interfaces/agab:Interface"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:keyref name="parametername" refer="agab:parameternameunique">
			<xs:selector xpath=".//agab:pref"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="CommandLineExecutionControllerConfig">
		<xs:annotation>
			<xs:documentation>The configuration for a command line execution controller</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agab:CommonExecutionConnectorConfigType">
					<xs:sequence>
						<xs:element ref="agab:Application" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataCentreParameterDefn" type="agab:DataCenterParameterDefinition" substitutionGroup="agab:Parameter">
		<xs:annotation>
			<xs:documentation>The specialization for a datacentre parameter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataCentre" type="agab:DataCentreApplication">
		<xs:unique name="DCparameternameunique">
			<xs:selector xpath="./agab:Parameters/agab:DataCentreParameterDefn"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="DCinterfacenameunique">
			<xs:selector xpath="./agab:Interfaces/agab:Interface"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:keyref name="DCparametername" refer="agab:DCparameternameunique">
			<xs:selector xpath=".//agab:pref"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="DataCentreControllerConfig">
		<xs:annotation>
			<xs:documentation>Configuration for a set of datacentre descriptions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agab:CommonExecutionConnectorConfigType">
					<xs:sequence>
						<xs:element ref="agab:DataCentre" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebServiceParameterDefn" type="agab:WebServiceParameterDefinition" substitutionGroup="agab:Parameter">
		<xs:annotation>
			<xs:documentation>The specialization for a web service parameter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WebService" type="agab:WebServiceApplication">
		<xs:unique name="WSparameternameunique">
			<xs:selector xpath="./agab:Parameters/agab:WebServiceParameterDefn"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:unique name="WSinterfacenameunique">
			<xs:selector xpath="./agab:Interfaces/agab:Interface"/>
			<xs:field xpath="@name"/>
		</xs:unique>
		<xs:keyref name="WSparametername" refer="agab:WSparameternameunique">
			<xs:selector xpath=".//agab:pref"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="WebServiceExecutionControllerConfig">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="agab:CommonExecutionConnectorConfigType">
					<xs:sequence>
						<xs:element ref="agab:WebService" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--need a way to represent a list of applications-->
	<xs:element name="ApplicationList">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>list of applications</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="ApplicationDefn" type="agab:ApplicationBase" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This is a generic application definition that does not take in all of the specializations for web/commandline etc</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ApplicationKindType">
		<xs:annotation>
			<xs:documentation>The type of the underlying application - commandline, http-get etc</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmdline"/>
			<xs:enumeration value="http"/>
			<xs:enumeration value="javaclass"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
