common/src/main/resources/schema/registry/RegistrySearch/v0.1/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IVOARegistrySearch" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:adql0_7_4="http://www.ivoa.net/xml/ADQL/v0.7.4"             xmlns:adql0_8="http://www.ivoa.net/xml/ADQL/v0.8"                          xmlns:adql0_9="http://www.ivoa.net/xml/ADQL/v0.9"             xmlns:adql1_0="http://www.ivoa.net/xml/ADQL/v1.0"
             xmlns:vr="http://www.ivoa.net/xml/VOResource/v0.10" 
             xmlns:ri="http://www.ivoa.net/xml/RegistryInterface/v0.1" 
             xmlns:tns="http://www.ivoa.net/wsdl/RegistrySearch/v0.1"
             targetNamespace="http://www.ivoa.net/wsdl/RegistrySearch/v0.1">   <types>      <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" 
         xmlns:tns="http://www.ivoa.net/wsdl/RegistrySearch/v0.1" 
         targetNamespace="http://www.ivoa.net/wsdl/RegistrySearch/v0.1">         <xs:import namespace="http://www.ivoa.net/xml/ADQL/v0.7.4"                     schemaLocation="../../../adql/ADQL/v0.7.4/ADQL.xsd" />			         <xs:import namespace="http://www.ivoa.net/xml/ADQL/v0.8"                     schemaLocation="../../../adql/ADQL/v0.8/ADQL.xsd" />         <xs:import namespace="http://www.ivoa.net/xml/ADQL/v0.9"                     schemaLocation="../../../adql/ADQL/v0.9/ADQL.xsd" />         <xs:import namespace="http://www.ivoa.net/xml/ADQL/v1.0"                     schemaLocation="../../../adql/ADQL/v1.0/ADQL.xsd" />
         <xs:import namespace="http://www.ivoa.net/xml/RegistryInterface/v0.1"
                    schemaLocation="../../../registry/RegistryInterface/v0.1/RegistryInterface.xsd"/>
      <xs:element name="Search">        <xs:complexType>          <xs:sequence>          	<xs:choice>	            <xs:element minOccurs="0" maxOccurs="1" ref="adql0_7_4:Select" />   	         <xs:element minOccurs="0" maxOccurs="1" ref="adql0_7_4:Where" />	            <xs:element minOccurs="0" maxOccurs="1" ref="adql0_8:Select" />   	         	            <xs:element minOccurs="0" maxOccurs="1" ref="adql0_9:Select" />	            <xs:element minOccurs="0" maxOccurs="1" ref="adql1_0:Select" />   	      </xs:choice>          </xs:sequence>        </xs:complexType>      </xs:element>
      <xs:element name="SearchResponse">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" ref="ri:VOResources" />          </xs:sequence>        </xs:complexType>      </xs:element>            <xs:element name="GetResourceByIdentifier">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" name="identifier" type="xs:string" />          </xs:sequence>        </xs:complexType>      </xs:element>      
      <xs:element name="KeywordSearch">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" name="keywords" type="xs:string" />            <xs:element minOccurs="1" maxOccurs="1" name="orValue" type="xs:boolean" />          </xs:sequence>        </xs:complexType>      </xs:element>                  <xs:element name="ErrorResponse">        <xs:complexType>          <xs:sequence>            <xs:element minOccurs="1" maxOccurs="1" name="errorMessage" type="xs:string" />          </xs:sequence>        </xs:complexType>      </xs:element>            </xs:schema>         </types>
   <message name="empty"/>      <message name="ErrorResp">      <part name="ErrorResp"  element="tns:ErrorResponse"/>   </message>   
   <message name="SearchReq">        <part name="Search" element="tns:Search" />   </message>      <message name="SearchResp">      <part name="VoResources" element="tns:SearchResponse" />   </message>      <message name="GetResourceByIdentifierReq">        <part name="GetResourceByIdentifier" element="tns:GetResourceByIdentifier" />   </message>              
   <message name="KeywordSearchReq">      <part name="KeywordSearch" element="tns:KeywordSearch" />   </message>
   <portType name="RegistrySearchPortType">      <operation name="Search">         <input message="tns:SearchReq" />         <output message="tns:SearchResp" />			<fault name="SearchError" message="tns:ErrorResp"/>               </operation>      <operation name="GetResourceByIdentifier">         <input message="tns:GetResourceByIdentifierReq" />         <output message="tns:SearchResp" />			<fault name="GetResourceByIdentifierError" message="tns:ErrorResp"/>               </operation>            <operation name="KeywordSearch">         <input message="tns:KeywordSearchReq" />         <output message="tns:SearchResp" />		   <fault name="KeywordSearchError" message="tns:ErrorResp"/>               </operation>         </portType>
   <binding name="RegistrySearchSOAP" type="tns:RegistrySearchPortType">      <soap:binding style="document"                     transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Search">         <soap:operation style="document" soapAction="http://www.ivoa.net/wsdl/RegistryInterface#Search"/>         <input>            <soap:body use="literal" />         </input>         <output>				<soap:body use="literal" />         </output>         <fault name="SearchError">            <soap:fault name="SearchError" use="literal" />         </fault>               </operation>
      <operation name="KeywordSearch">         <soap:operation style="document" soapAction="http://www.ivoa.net/wsdl/RegistryInterface#KeywordSearch"/>         <input>            <soap:body use="literal" />         </input>         <output>				<soap:body use="literal" />         </output>         <fault name="KeywordSearchError">            <soap:fault name="KeywordSearchError" use="literal" />         </fault>                   </operation>                  <operation name="GetResourceByIdentifier">         <soap:operation style="document"  soapAction="http://www.ivoa.net/wsdl/RegistryInterface#GetResourceByIdentifier" />         <input>				<soap:body use="literal" />         </input>         <output>            <soap:body use="literal" />         </output>         <fault name="GetResourceByIdentifierError">            <soap:fault name="GetResourceByIdentifierError" use="literal" />         </fault>                </operation>                </binding></definitions>