common/src/main/resources/schema/jes/JobController/v1.0/JobController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:jes/jobcontroller/v1"
                  xmlns="urn:jes/jobcontroller/v1"
                  xmlns:intf="urn:jes/jobcontroller/v1"
                  xmlns:wrapper="urn:jes/jobcontroller-wrapper/v1"

                  xmlns:creds="http://www.astrogrid.org/schema/Credentials/v1"
				  xmlns:er="http://www.astrogrid.org/schema/ExecutionRecord/v1"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:documentation>
           Interface definition for the controller web service
   </wsdl:documentation>
   <wsdl:types>
           <xsd:schema targetNamespace="urn:jes/jobcontroller-wrapper/v1" xmlns="http://www.w3.org/2001/XMLSchema">
         <xsd:import schemaLocation="../../../jes/ExecutionRecord/v1.0/ExecutionRecord.xsd" 
         namespace="http://www.astrogrid.org/schema/ExecutionRecord/v1" />

        <xsd:import schemaLocation="../../../jes/Credentials/v1.0/Credentials.xsd" 
         namespace="http://www.astrogrid.org/schema/Credentials/v1" />
        <xsd:element name="submitWorkflow">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="workflow-document" type="er:workflow-string" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>
        <xsd:element name="submitWorkflowResponse">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="urn" type="er:jobURN" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>
        <xsd:element name="cancelJob">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="urn" type="er:jobURN" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>
        <xsd:element name="deleteJob">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="urn" type="er:jobURN" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>
        <xsd:element name="readJobList" >
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element ref="creds:Account" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        <xsd:element name="readJobListResponse">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="item" type="er:workflow-summary-type" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        <xsd:element name="readJob">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="urn" type="er:jobURN" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        <xsd:element name="readJobResponse">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="workflow-document" type="er:workflow-string" />
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        </xsd:schema>
   </wsdl:types>

        <!-- work-around for axis wsdl2java bugs - try to force wrapped style throughout -->

        <wsdl:message name="submitWorkflow">
                <wsdl:part element="wrapper:submitWorkflow" name="parameters" />
        </wsdl:message>

        <wsdl:message name="submitWorkflowResponse">
                <wsdl:part element="wrapper:submitWorkflowResponse" name="parameters" />
        </wsdl:message>

        <wsdl:message name="cancelJob">
                <wsdl:part element="wrapper:cancelJob" name="parameters" />
        </wsdl:message>

        <wsdl:message name="deleteJob">
                <wsdl:part element="wrapper:deleteJob" name="parameters" />
        </wsdl:message>

        <wsdl:message name="readJobList">
                <wsdl:part element="wrapper:readJobList" name="parameters"/>
        </wsdl:message>

        <wsdl:message name="readJobListResponse">
                <wsdl:part element="wrapper:readJobListResponse" name="parameters"/>
        </wsdl:message>

        <wsdl:message name="readJob">
                <wsdl:part element="wrapper:readJob" name="parameters" />
        </wsdl:message>

        <wsdl:message name="readJobResponse">
                <wsdl:part element="wrapper:readJobResponse" name="parameters"/>
        </wsdl:message>


        <wsdl:message name="jesFault">
                <wsdl:documentation>
                        generic fault message type for jes
                </wsdl:documentation>
                <wsdl:part name="message" type="xsd:string" />
        </wsdl:message>

   <wsdl:portType name="JobController">
      <wsdl:operation name="submitWorkflow" >
         <wsdl:input name="submitWorkflow" message="submitWorkflow"/>
         <wsdl:output name="submitWorkflowResponse" message="submitWorkflowResponse"/>
         <wsdl:fault name="jesFault" message="jesFault"/>
      </wsdl:operation>

      <wsdl:operation name="cancelJob">
              <wsdl:input name="cancelJob" message="cancelJob" />
      </wsdl:operation>

      <wsdl:operation name="deleteJob">
              <wsdl:input name="deleteJob" message="deleteJob" />
      </wsdl:operation>

      <wsdl:operation name="readJobList" >
         <wsdl:input name="readJobList" message="readJobList"/>
         <wsdl:output name="readJobListResponse" message="readJobListResponse"/>
         <wsdl:fault name="jesFault" message="jesFault" />
      </wsdl:operation>

      <wsdl:operation name="readJob">
              <wsdl:input name="readJob" message="readJob" />
              <wsdl:output name="readJobResponse" message="readJobResponse" />
              <wsdl:fault name="jesFault" message="jesFault" />
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JobControllerServiceSoapBinding" type="JobController">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="submitWorkflow">
         <wsdlsoap:operation soapAction="submitWorkflow"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="jesFault">
                 <wsdlsoap:fault name="jesFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="cancelJob">
              <wsdlsoap:operation soapAction="cancelJob" />
              <wsdl:input>
                      <wsdlsoap:body use="literal" />
              </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="deleteJob">
              <wsdlsoap:operation soapAction="deleteJob"/>
              <wsdl:input>
                      <wsdlsoap:body use="literal" />
              </wsdl:input>
      </wsdl:operation>

      <wsdl:operation name="readJobList">
         <wsdlsoap:operation soapAction="readJobList"/>
         <wsdl:input>
            <wsdlsoap:body use="literal" />
         </wsdl:input>
         <wsdl:output >
            <wsdlsoap:body use="literal"  />
         </wsdl:output>
         <wsdl:fault name="jesFault">
                 <wsdlsoap:fault name="jesFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="readJob">
              <wsdlsoap:operation soapAction="readJob" />
              <wsdl:input>
                      <wsdlsoap:body use="literal" />
              </wsdl:input>
              <wsdl:output>
                      <wsdlsoap:body use="literal" />
              </wsdl:output>
         <wsdl:fault name="jesFault">
                 <wsdlsoap:fault  name="jesFault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JobControllerService">
      <wsdl:port name="JobControllerService" binding="JobControllerServiceSoapBinding">
         <wsdlsoap:address location="http://localhost:8080/axis/services/JobControllerService"/>
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>